body {
    background:url(/images/chalkboard.jpg);//图片路径
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:1% 1%;
		opacity: 0.9;//设置文章主体透明度
}

//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  //background: rgba(255,255,255,0.9);
}
.site-brand-container {
	background:url(/images/subtle-prism.png);
  //background: #00BFFF; //颜色自己搭配
}